.weight-input {
  display: inline-block;
  padding: 20px 10px 30px;
  border: 1px solid #000;
}
.weight-input__text {
  font-size: 15px;
}
.weight-input__weight-num {
  width: 100px;
  background-color: #fff;
  border: 1px solid #000;
}
@media only screen and (max-width: 767px) {
  .weight-input {
    margin-top: 30px;
  }
}